<nav mat-tab-nav-bar color="primary" backgroundColor="primary">
    <a mat-tab-link *ngFor="let link of appRoutes" [routerLink]="link.path" routerLinkActive #rla="routerLinkActive"
        [active]="rla.isActive">
        {{link.label}}
    </a>
</nav>