<div id="market-component-wrapper">
    <div id="add-market-wrapper">
        <form id="marketForm" [formGroup]="marketForm" (ngSubmit)="addMarket()" #marketFormDirective>
            <mat-form-field class=" add-market-field">
                <input matInput placeholder="Market" formControlName="name">
            </mat-form-field>
        </form>
        <button mat-mini-fab color="primary" form="marketForm">+</button>
    </div>
    <div id="markets-wrapper">
        <div id="markets-list">
            <div class="market-item" (click)="getMarketDetails(market)" *ngFor="let market of markets">
                {{market.name}}
            </div>
        </div>
        <div id="divider"></div>
        <div id="markets-details">
            <mat-card *ngIf="detailedMarket">
                <mat-card-header>
                    <mat-card-title>
                        Market
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <p>
                        Market Name: {{detailedMarket.name}}
                    </p>
                </mat-card-content>
                <mat-card-actions class="card-actions">
                    <button mat-flat-button color="warn" (click)="deleteMarket()">Delete</button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>