:host {
    width: 100%;
    height: 100%;
    display: flex;
}

#market-component-wrapper{
    flex: 1;
    display: flex;
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

#markets-wrapper {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: row;
}

#markets-list, #markets-details {
    flex: 5;
    overflow: auto;
    padding: 10px;
}

#divider {
    flex: 1;
}

.market-item {
    cursor: pointer;
    margin: 10px 0;
    padding: 5px;
    border: 0.5px #000 solid;
}

.market-item:hover {
    background-color: #ececec;
}

.card-actions {
    display: flex;
    justify-content: flex-end;
}

.add-market-field {
    width: 100%;
}

#add-market-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#marketForm {
    width: 30%;
    margin-right: 10px;
}