:host {
    width: 100%;
    height: 100%;
    display: flex;
}

#stock-component-wrapper{
    flex: 1;
    display: flex;
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

#stocks-wrapper {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: row;
}

#stocks-list, #stocks-details {
    flex: 5;
    overflow: auto;
    padding: 10px;
}

#divider {
    flex: 1;
}

.stock-item {
    cursor: pointer;
    margin: 10px 0;
    padding: 5px;
    border: 0.5px #000 solid;
}

.stock-item:hover {
    background-color: #ececec;
}

.card-actions {
    display: flex;
    justify-content: flex-end;
}

.add-stock-field {
    flex: 1;
    margin-right: 10px;
}

#add-stock-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#stockForm {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 90%;
}