<div id="stock-component-wrapper">
    <div id="add-stock-wrapper">
        <form id="stockForm" [formGroup]="stockForm" (ngSubmit)="addStock()" #stockFormDirective>
            <mat-form-field class="add-stock-field">
                <input matInput placeholder="Ticker" formControlName="ticker">
            </mat-form-field>
            <mat-form-field class="add-stock-field">
                <input matInput placeholder="Company" formControlName="company">
            </mat-form-field>
            <mat-form-field class="add-stock-field">
                <input matInput placeholder="Market" formControlName="market">
            </mat-form-field>
        </form>
        <button mat-mini-fab color="primary" form="stockForm">+</button>
    </div>
    <div id="stocks-wrapper">
        <div id="stocks-list">
            <div class="stock-item" (click)="getStockDetails(stock)" *ngFor="let stock of stocks">
                {{stock.ticker}}
            </div>
        </div>
        <div id="divider"></div>
        <div id="stocks-details">
            <mat-card *ngIf="detailedStock">
                <mat-card-header>
                    <mat-card-title>
                        {{detailedStock?.ticker}}
                    </mat-card-title>
                    <mat-card-subtitle>
                        Stock
                    </mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <p>
                        Company Name: <b>{{detailedStock?.companyName}}</b> <br>
                        ID: {{detailedStock?.id}} <br>
                        Market ID: {{detailedStock?.market.id}} <br>
                        Market Name: {{detailedStock?.market.name}}
                    </p>
                </mat-card-content>
                <mat-card-actions class="card-actions">
                    <button mat-flat-button color="warn" (click)="deleteStock()">Delete</button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>